@import url('https://fonts.googleapis.com/css?family=Poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, 'Poppins', 'Helvetica', 'sans-serif', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body,html{
  font-family: 'Poppins', Helvetica, sans-serif, 'Segoe UI' ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4{
  color: black;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.2rem;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}